@model HH.ViewModels.LeadRiskVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="LeadRisk">
    <h3>Property Lead Risk</h3>
</div>

<br />
<b>Remark: </b> @ViewBag.Message
<br />
<br />
<b>Year Built: </b> @ViewBag.YearBuilt
<br />
<br />
<b>Observation Date: </b> @ViewBag.ObservationDate
<br />
<br/>
