
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d191252.16335489924!2d-81.84594400477556!3d41.49744701520088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8830ef2ee3686b2d%3A0xed04cb55f7621842!2sCleveland%2C+OH!5e0!3m2!1sen!2sus!4v1543424693447"
        width="450"
        height="350"
        name="mymap"></iframe>
<br />
<p><label>Enter Address :  </label><input type="text" id="inputTextAddress" style=" width:200px" title="Enter Address"></p>
<button onclick="Initialize()">Search Address</button>

