@model HH.ViewModels.PropertiesViewModels
@{
    ViewBag.Title = "Search";
}

<h2>@ViewBag.Title.</h2>


<div class="map">
    @*<a href="https://www.googlemaps.com">Area Map</a>*@
</div>


<fieldset>
    <table>
        <tr>
            <th>
                @Html.EditorFor(model => model.Number)
            </th>
            <th></th>
            <th>
                @Html.EditorFor(model => model.Street)
            </th>
            <th></th>
            <th>
                @*    @Html.DisplayNameFor(model => model.City)*@
            </th>
        </tr>
    </table>
</fieldset>

<br />
<br />
<div class="button">
    <button type="submit">Search</button>
</div>

