@model HH.ViewModels.PropertiesViewModels
@{
    ViewBag.Title = "Search";
}

<h2>@ViewBag.Title.</h2>

<div class="title">
    <h1>Search</h1>
</div>

<div class="logo">
    @*<img src=" " id="toggle" />*@
</div>

<div class="map">
    @*<a href="https://www.googlemaps.com">Area Map</a>*@
</div>


<fieldset>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th></th>
            <th>
                @*    @Html.DisplayNameFor(model => model.City)*@
            </th>
        </tr>
        }
    </table>
</fieldset>

<div class="button">
    <button type="submit">Search</button>
</div>

