@{
    ViewBag.Title = "About";
}

<br />
<div>
    <center>
        <div id="logo">
            <a href="~/Home/Index"><img src="~/images/ghm-logo-v12-1-weblogo.png" id="logoimg" /></a>
        </div>
    </center>

    <center><h2 style="color :green">Global Health Metrics</h2></center>
    <br />
    <p>
        Global Health Metrics is a team of medical doctors, biostatisticians, and developers that have come together to create the most scientifically rigorous health risk assessment on the market led by Drs. Joseph Sudano, Adam Perzynski and Eamon Johnson.<br />

        <br />Continuing work undertaken by the Centers for Disease Control and Prevention in the 1970’s and the Carter Center of Emory University in 1986 our mission is to make available to patients, health providers, health organizations, state and local governments, service groups, business and industry the best in the science and technology of health risk assessments.<br />

        <br />“Our mission is to make the best in the science and technology of health risk assessment software readily available to patients, health providers, health organizations, state and local governments, service groups, business and industry.” -Joseph Sudano, PhD, CEO of Global Health Metrics.<br />
    </p>
    <center><h2 style="color :green">Housing Health Organization Team</h2></center>
    <br />
    <center><h4 style="color :palevioletred">Cleveland Codes Software Developers</h4></center>
    <div>
        <center>
                <p style="font-size:17px">Dawn Haynes</p>
                <p style="font-size:17px">Himabindu Adiboyina</p>
                <p style="font-size:17px">Ismael Ouedraogo</p>
                <p style="font-size:17px">Williams Iyango</p>
                <p style="font-size:17px">Jack Hallisy</p>
                <p style="font-size:17px">Damon Foster</p>
                <p style="font-size:17px">Paula Holubek</p>
                <p style="font-size:17px">John Guggenbiller</p>
        </center>
    </div>

</div>
