@{
    ViewBag.Title = "Contact";
}
<br />
<div>
    <center>
        <div id="logo">
            <a href="~/Home/Index"><img src="~/images/ghm-logo-v12-1-weblogo.png" id="logoimg" /></a>
        </div>
    </center>

    <h2>Contact:</h2>
    <p>
        Interested in our software products or in health risk assessment in general?
        Contact our scientific staff at:
    </p><br />

    <p>
        Global Health Metrics<br />
        The Global Center for Health Innoviation<br />
        1 St. Clair Ave NE <br />
        Cleveland, OH 44114<br />
        (216)358-6617<br />
    </p>
</div>