@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <center><h2 style="color :green">Welcome to Housing Health Organization</h2></center>
    <br />
    <center><h4 style="color :palevioletred">Mission</h4></center>
    <ul>
        <li><p style="font-size:17px">Improve the health, housing, and environment of Cleveland residents by aiding residents looking for homes in Cleveland in selecting healthier and safer homes.</p></li>
    </ul>
    <center><h4 style="color :palevioletred">Vision</h4></center>
    <ul>
        <li><p style="font-size:17px">Bold, upstream, integrated, local data-driven action to increase use of healthy home data to increase understanding of housing stock, and support making bettr housing choices.</p></li>
    </ul>
    <center><h4 style="color :palevioletred">Goals/Objectives</h4></center>
    <ul>
        <li><p style="font-size:17px">Create integrated data on property maintenance, housing quality, affordability, and safety of residential properties.</p></li>
        <li><p style="font-size:17px">Create mechanisms to curate data and support ongoing integration of data.</p> </li>
        <li><p style="font-size:17px">Create a data exploration interface tha fits into existing process of residing relocation.</p></li>
    </ul>
</div>
