@*<meta http-equiv="X-Frame-Options" content="allow">
    <iframe src="https://maps.google.be/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Kortrijk,+Belgium&amp;aq=0&amp;oq=kortrijk,+bel&amp;sll=50.802805,3.279785&amp;sspn=0.351067,0.617294&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Kortrijk,+West+Flanders,+Vlaams+Gewest&amp;ll=50.802897,3.280106&amp;spn=0.350496,0.617294&amp;z=11&amp;iwloc=A&amp;output=embed&amp;wmode=transparent"
            width="450"
            height="350"
            name="mymap">

    </iframe>*@

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d191252.16335489924!2d-81.84594400477556!3d41.49744701520088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8830ef2ee3686b2d%3A0xed04cb55f7621842!2sCleveland%2C+OH!5e0!3m2!1sen!2sus!4v1543424693447"
        width="450"
        height="350"
        name="mymap">

</iframe>
<br />
<p><label>Enter Address :  </label><input type="text" id="inputTextAddress" style=" width:200px" title="Enter Address"></p>
<button onclick="Initialize()">Search Address</button>

